TD {
  font-family: arial;
  font-size: 12px;
  color: #000000;
}

A {
  color: #000000;
}

TR {
  background-color: #EEEEEE;
  text-align: center;
}

.margin {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body {
	-moz-transform:rotate(-30deg);
	height:auto;
	margin:10px auto;
	position:relative;
	width:1300px;
	z-index:1;
}
